:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --color-bg: #000028;
  --color-text-h1:#DB00FF;
  --color-shadow-title: #FF0070;
  --color-shadow: #FF0070;
  --title-decor-bg: #FF0070;
  --title-decor-text: #000028;
  --color-text-h2: #FF0070;
  --color-menu-bttn: #FF0070;
  --color-menu-bttn-act: 255, 0, 112;
  --color-decor-elements: #FF0070;
  --main-color-text: #F1B2CE;
}

.theme-dark .page {
background-color: var(--color-bg);
background-image: var(--bg-image);
}

.theme-dark .header {
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
}

.theme-dark .decorated-zone::before {
  border-block-start: 1px solid var(--color-decor-elements);
  border-inline-end: 1px solid var(--color-decor-elements);
}

.theme-dark .decorated-zone::after {
  border-block-end: 1px solid var(--color-decor-elements);
  border-inline-start: 1px solid var(--color-decor-elements);
}

.theme-dark .rec-indicator::before {
  color: var(--color-decor-elements);
}

.theme-dark .rec-indicator::after {
  background-color: var(--color-decor-elements);
  box-shadow:
    0 0 3px var(--color-shadow),
    0 0 4px var(--color-shadow),
    0 0 5px var(--color-shadow),
    0 0 6px var(--color-shadow),
    0 0 7px var(--color-shadow);
}

.theme-dark .header__theme-menu-button {
  color: var(--color-menu-bttn);
}

.theme-dark .article__text-link {
  color: var(--main-color-text);
}

.theme-dark .header__theme-menu-button_type_dark:active {
  border: 1px currentColor solid;
}

.theme-dark .header__title {
  color: var(--color-text-h1);
  text-shadow: 4px 4px 0 var(--color-shadow);
}

.theme-dark .title-decor,
.title-decor-text {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-text);
}

.theme-dark .content-section__title {
  color: var(--color-text-h2);
}

.theme-dark .article__text {
  background-color: var(--color-bg);
  color: var(--main-color-text);
}

.theme-dark .article__text-shadow-link {
  text-shadow: 2px 2px 0 var(--color-shadow);
}

.theme-dark .header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid rgba(var(--color-menu-bttn-act), 0.4);
}

.theme-dark .footer__title {
  color: var(--color-text-h1);
  text-shadow: 2px 2px 0 var(--color-shadow);
}

.theme-dark .for__decoration::before {
  border-block-start: 1px solid var(--color-decor-elements);
  border-inline-end: 1px solid var(--color-decor-elements);
}

.theme-dark .for__decoration::after {
  border-block-end: 1px solid var(--color-decor-elements);
  border-inline-start: 1px solid var(--color-decor-elements);
}