:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --color-bg: #000028;
  --color-text-h1: #DB00FF;
  --color-shadow-title: #FF0070;
  --color-shadow: #FF0070;
  --title-decor-bg: #FF0070;
  --title-decor-text: #000028;
  --color-text-h2: #FF0070;
  --color-menu-bttn: #FF0070;
  --color-menu-bttn-act: 255, 0, 112;
  --color-decor-elements: #FF0070;
  --main-color-text: #F1B2CE;
}

.theme-dark .rec-indicator {
  display: block;
}