:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --color-bg: #fff1f7;
  --color-text-h1: #ffc2e6;
  --color-shadow-title: #ff8dcb;
  --color-shadow: #ff8dcb;
  --title-decor-bg: #ff8dcb;
  --title-decor-text: #353430;
  --color-text-h2: #353430;
  --color-menu-bttn: #353430;
  --color-menu-bttn-act: 53, 52, 48;
  --color-decor-elements: #353430;
  --main-color-text: #353430;
}

.theme-light .rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --color-bg: #fff1f7;
    --color-text-h1: #ffc2e6;
    --color-shadow-title: #ff8dcb;
    --color-shadow: #ff8dcb;
    --title-decor-bg: #ff8dcb;
    --title-decor-text: #353430;
    --color-text-h2: #353430;
    --color-menu-bttn: #353430;
    --color-menu-bttn-act: 53, 52, 48;
    --color-decor-elements: #353430;
    --main-color-text: #353430;
  }

  .rec-indicator {
    display: none;
  }
}